{% extends 'base.html' %}

{% block content %}
<p>hello</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">quantity</th>
        <th scope="col">price</th>
        <th scope="col">total price</th>
        <th scope="col">delete </th>
      </tr>
    </thead>
    
    <tbody>
      {% for item in cart %}
      <tr>
        <th >{{ forloop.counter }}</th>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td><a href="{% url 'orders:delete_cart' item.product.id %}">delete</a></td>
        
      </tr>
      
      {% endfor %}

      <tr>
<td>total</td>
<td colspan="4"></td>
<td>{{ cart.total_price }}</td>
      </tr>
    </tbody>
    

  </table>

  <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Checkout</a>
{% endblock %}